<form action="/create_race_from_event" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @race.name %>">
  </div>

  <input type="hidden" name="event_id" value="<%= @event.id %>">

  <div class="form-group">
    <label for="year">
      Year
    </label>

    <input type="text" id="year" name="year" class="form-control" value="<%= @race.year %>">
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @race.location %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create race
  </button>
</form>
